Package: relayer-admin-dashboard
Version: 1.0.0
Section: net
Priority: extra
Pre-Depends: unzip
Architecture: all
Maintainer: Debendra <mail@debendra.me>
Description: Relayer admin dashboard for managing relayers
