Package: relayer-admin-dashboard
Version: 1.0.0
Section: web
Priority: optional
Build-Depends: unzip
Architecture: all
Maintainer: Debendra <mail@debendra.me>
Description: Relayer admin dashboard for managing relayers
